.element-wrapper {
    float: left;
    width: 220px;
    height: 240px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    margin: 20px;
    transition: all .2s ease;
}
.first, .second, .third {
    width: 100%;
}
.first {
    height: 40px;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
    .checkbox {
        margin: 5px;
        margin-left: 10px;
        float: left;
        width: 30px;
        height: 30px;
        border: solid 1px rgba(0, 0, 0, 0.15);;
        border-radius: 100%;
    }
    img{
        display: none;
    }
    .checked img{
        width: 29px;
        display: block;
    }

    .menu{
        float: right;
        width: 100px;
        margin: 20px;
        .el {
            float: right;
            margin-left: 4px;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.25);
        }
    }
}
.second {
    height: 140px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    img {
        width: 100px;
        margin-left: 60px;
        margin-top: 20px;
    }
    &:hover {
        cursor: pointer;
    }
}
.checked {
    background: repeating-linear-gradient( -45deg, rgba(0, 120, 220, 0.2), rgba(0, 120, 220, 0.2) 10px, rgba(0, 120, 220, 0.2) 22px, rgba(0, 120, 220, 0.3) 30px);
}

.third {
    height: 60px;
    p {
        margin: 0;
        padding: 5px;
        float: left;
        width: 100%;
    }
    .element-name{
        font-style: italic;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.tree {
    width: 100%;
    display: flex;
    position: relative;
    font-size: 30px;
    z-index: 0;
    line-height: 60px;
    transition: all ease-in .2s;
    .leaf a{
        text-decoration: none;
        vertical-align: middle;
    }
    .leaf {
        cursor: default;
        svg {
            margin: 0 12px;
            vertical-align: sub;
        }
    }
    &.sticky {
        transition: all ease-in .2s;
        position: fixed;
        top: 0;
        border-bottom: 1px solid #999999;
        & + .directory-view {
            margin-top: 155px;
        }
    }
}