@keyframes appear {
  from {
    width: 350px;
    height: 60px;
    opacity: 0;
  }
  to {
    width: 400px;
    height: 90px;
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    width: 400px;
    height: 90px;
    opacity: 1;
  }
  to {
    width: 350px;
    height: 60px;
    opacity: 0;
  }
}

.settings-main {
  position: absolute;
  top: 80px;
  right: 75px;
  z-index: 3;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.appear {
  animation: appear .2s 1 linear forwards;
}

.disappear {
  animation: disappear .2s 1 linear forwards;
}

$black: #1e1e1e;
$grey: #cccccc;
$white: #ffffff;

.wrapper {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  p {
    width: 30%;
  }
  span.switcher {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 20px 0;
    input[type="checkbox"] {
      margin: 0;
      appearance: none;
      position: relative;
      width: 200px;
      height: 50px;
      border-radius: 25px;
      background-color: $black;
      outline: none;
      font-size: 1.1em;
      &:before, &:after {
        z-index: 2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
      }
      &:before {
        content: "LIGHT";
        left: 20px;
      }
      &:after {
        content: "DARK";
        right: 20px;
      }
    }
    .switcher-label {
      z-index: 1;
      position: absolute;
      top: 10px;
      bottom: 10px;
      border-radius: 20px;
    }
    &.switcher-1 {
      input[type="checkbox"] {
        transition: 0.25s -0.1s;
        &:checked {
          background-color: $white;
          &:before {
            color: $white;
            transition: color 0.5s 0.2s;
          }
          &:after {
            color: $grey;
            transition: color 0.5s;
          }
          & + .switcher-label {
            left: 10px;
            right: 120px;
            background: $black;
            transition: left 0.5s, right 0.4s 0.2s;
          }
        }
        &:not(:checked) {
          background: $black;
          transition: background 0.5s -0.1s;
          &:before {
            color: $grey;
            transition: color 0.5s;
          }
          &:after {
            color: $black;
            transition: color 0.5s 0.2s;
          }
          & + .switcher-label {
            left: 120px;
            right: 10px;
            background: $white;
            transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
          }
        }
      }
    }
  }
}