.main-navbar {
  display: flex;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 80px;
  line-height: 80px;
  z-index: 2;
  h3 {
    font-weight: 600;
    margin-left: 40px;
    font-family: "Oswald", sans-serif;
    color: black;
  }
  .navbar-buttons {
    margin-left: 78vw;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
  }
  .navbar-buttons-icon {
    margin: 0;
    width: 75px;
    text-align: center;
    transition: all 0.2s linear;
    svg {
      vertical-align: middle;
    }
    &:hover {
      background-color: #dfa920;
    }
  }
}
