@keyframes dropdown {
  from {
    z-index: 0;
    opacity: 0;
    top: 0;
    height: 0;
  }
  to {
    opacity: 1;
    top: 85px;
    z-index: 3;
    height: 90px;
  }
}

@keyframes dropup {
  from {
    z-index: 3;
    opacity: 1;
    top: 85px;
    height: 90px;
  }
  to {
    z-index: 0;
    opacity: 0;
    top: 0;
    height: 0;
  }
}

.dropdown {
  animation: dropdown .2s 1 linear forwards;
}

.dropup {
  animation: dropup .2s 1 linear forwards;
}

.second-navbar {
  display: flex;
  align-items: center;
  top: 80px;
  width: 100vw;
  height: 80px;
  line-height: 80px;
  z-index: 4;
  font-size: 1em;

  .details-main {
    height: 90px;
    width: 10%;
    position: relative;
    right: 10.8%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
    .create-folder {
      font-size: 1em;
      width: 100%;
      transform: skew(0);
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
    button {
      border: 2px solid rgba(0, 0, 0, 0);
    }
  }
  .progress-bar {
    z-index: 2;
    position: absolute;
    width: 10%;
    transform: skew(-20deg);
    span {
      width: 100%;
      top: 0;
      position: absolute;
      z-index: 4;
      text-align: center;
    }
  }
  .pb-download {
    right: 12.5%;
    background-color: hsl(135, 50%, 30%);
    .progress-bar-download-2 {
      z-index: 3;
      right: 70%;
      background-color: hsl(135, 80%, 45%);
      width: 30%;
      height: 80px;
    }
  }
  .pb-upload {
    right: 2%;
    background-color: hsl(206, 60%, 30%);
    .progress-bar-upload-2 {
      z-index: 3;
      right: 50%;
      background-color: hsl(206, 100%, 50%);
      width: 50%;
      height: 80px;
    }
  }
  button {
    height: 100%;
    width: 10%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border: 2px solid rgba(0, 0, 0, 0);
    transform: skew(-20deg);
    border-radius: 0;
    outline: none;
    &:first-child {
      margin-left: -15px;
    }
    img {
      width: 35px;
      position: absolute;
      top: 25%;
      bottom: 30%;
      left: 10%;
      right: 10%;
      transform: skew(20deg);
    }
    span {
      top: 35%;
      bottom: 40%;
      left: 35%;
      right: 10%;
      position: absolute;
      transform: skew(20deg);
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  .disabled {
    cursor: default;
    img {
      filter: grayscale(100);
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@media screen and (max-width: 1400px) {
  .second-navbar button {
    span {
      display: none;
    }
    img {
      left: 35%;
      right: 35%;
    }
  }
}
