@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

* {
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, sans-serif;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
    box-sizing: border-box;
}
.App {
    position: relative;
    overflow-x: hidden;
}
.directory-view {
    margin: 30px auto;
    width: 100%;
    height: auto;
}